# Plesk system
error_docs/
logs/

# Server environment
.cache/
.composer/
.config/
.npm/
.pki/
.local/
.ssh/
.imunify_patch_id
.myimunify_id
.php-ini
.php-version

# Backups
*.tar.gz

# App-level ignores (under httpdocs/)
httpdocs/*.log
httpdocs/.DS_Store
httpdocs/.env
httpdocs/.env.backup
httpdocs/.env.production
httpdocs/.phpactor.json
httpdocs/.phpunit.result.cache
httpdocs/.fleet/
httpdocs/.idea/
httpdocs/.nova/
httpdocs/.phpunit.cache/
httpdocs/.vscode/
httpdocs/.zed/
httpdocs/auth.json
httpdocs/node_modules/
httpdocs/public/build/
httpdocs/public/hot/
httpdocs/public/storage/
httpdocs/storage/*.key
httpdocs/storage/pail/
httpdocs/vendor/
httpdocs/Homestead.json
httpdocs/Homestead.yaml
httpdocs/Thumbs.db
